@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

@font-face{
  font-family: "Mantinia" ;
  src: url(../images_inspiration/fonts/Mantinia\ Regular.otf);
}



body{
  margin:0;
  background:#e3e3e3;
}

/*Start of menu nonsense*/
#menuToggle{
  position: relative;
  margin-left: 30px;
  z-index:3;
}

#menuToggle input{
  position: absolute;
  width: 40px;
  height: 40px;
  left: -12.5px;
  margin-top: -12.5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#span1{
  margin-top: 30px;
}

#menuToggle span{
  display: block; /*makes each burger layer its own line*/
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  z-index: 1;
  background-color: white;
}

/*Start of Menu Animation*/
#menuToggle span {
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transform-origin: 4px 0px; /* set to 4px 0px to specify the center of rotation for the transform property above. */
}
#menuToggle span:first-child { /*animate each layer seperatly*/
  transform-origin: 0% 0%; /*sets the origin of the transform property to the top left corner of the element.*/
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%; /*sets the origin of the transform property to the bottom left corner of the element.*/
}
#menuToggle input:checked ~ span {/* selects all span elements that come after an input element that is checked inside the #menuToggle element. */
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menuToggle input:checked ~ span:nth-last-child(3) { /* selects the third span element from the end that comes after an input element that is checked inside the #menuToggle element. */
  opacity: 0; /* sets the opacity of the element to 0, making it invisible. */
  transform: rotate(0deg) scale(0.2, 0.2); /* applies a rotation of 0 degrees and a scale of 0.2 to the element, making it very small and invisible.*/
}

#menuToggle input:checked ~ ul {
  top: 0;
  left:0;
}
/*End of Menu Animation*/

#menu {
  position: absolute; /* allow us to position the menu on top of the rest of the content. */
  left: -300px;/* This property moves the menu outisde of the viewport*/
  top: 0px; /*This property sets the distance between the top edge of the menu and the top edge of the #menuToggle div.*/
  width: 200px; 
  height: 200vmax;
  margin: -100px 0 0 -50px;/* The negative margin values are used to move the menu up and to the left to center it vertically and horizontally within the #menuToggle div. */
  padding: 50px;
  padding-top: 125px;
  background: #f2eded;
  opacity: 70%;
  list-style-type: none; /* removes the default bullet points of the list. */
  -webkit-font-smoothing: antialiased; /*This property sets the font smoothing for webkit browsers. */
  
  transition: left 0.5s; /* This property sets the transition effect for the left property. This will create a smooth animation when the menu slides in from the left.*/
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menu a:hover{
  text-decoration: underline;
  color: black;
  transform: scale(1.2);
}

#menu a{
  margin: 100px;
}

#menuToggle{
  font-family: 'Press Start 2P';
}


/*End of menu nonsense*/  

/*Start of curtain div*/
#title{
  position: absolute;
  top: -5vmax;
  font-size:17.5vmax;
  color:#d3ed12;
  font-family: "Mantinia";
}

.curtain {
  top: -5vmax;
  height:150vh;
  position: relative;
  z-index: 2;
  background: #1d1d1d;
  display:flex;
  justify-content:center;
  align-items:flex-end;
  box-shadow: 0 24px 48px rgba(0,0,0,0.1), 0 20px 20px rgba(0,0,0,0.1);
  align-items: flex-end;
  }

.grid-container1 {
  position:relative;
  display: grid;
  grid-template:18vmax 18vmax / 24vmax 24vmax 24vmax 24vmax;
  grid-gap: 1vmax;
}

.grid-container2 {
  position:absolute;
  display: grid;
  grid-template:18vmax 18vmax / 24vmax 24vmax 24vmax 24vmax;
  grid-gap: 1vmax;
}
  
.item {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  max-width: 24vmax;
  max-height: 18vmax;
  z-index: 4;
  transition: 1.3s ease;
}

.item2 {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  max-width: 24vmax;
  max-height: 18vmax;
  z-index: 3;
}

.item:hover{
  opacity: 0%;
}


#solid {
  position: absolute;
  bottom: -2vmax;
  width: 100%;
  height: 2vmax;
  background-color: #1d1d1d;
  z-index: 2;
}
/*End of curtain div*/

/*Start main div*/
.main{
  position: relative;
  width: 100%;
  background: #e3e3e3;
  }
  
.reveal-main{
  height: auto;
  background:#e3e3e3;
}
  
.main {
  color:white;
  font-family:sans-serif;
  font-size:100px;
  text-align:center;
}

/*Start of bottom pictures*/
.parent { 
  display: flex; 
  flex-direction: column; 
}
.study{
  margin-top: 10vmax;
  max-width: 50vmax;
  max-height: 40vmax;
  }

#margit{
  margin-top: 5vmax;
  float: left;
  margin-left: 10vmax ;
  }

#malenia{
  float: right;
  margin-right: 10vmax;
  }

#radahn{
  float: left;
  margin-left: 10vmax;
  }

.title2{
  font-size:2.5vmax;
  color:black;
  font-family: "Mantinia";
  margin-top: 10vmax;
}

#margT{
  margin-top: 5vmax;
  float: right;
}

#malT{
  margin-top: 10vmax;
  float: left;
}

#radT{
  margin-top: 10vmax;
  float: right;
}

.paragraph{
  margin: 2vmax;
  position: relative;
  font-size: 1vmax;
  color: black;
}

#margit {
  --g: 4px;     /* the gap */
  --b: 12px;    /* border thickness*/
  --c: rgb(198, 220, 32); /* the color */


  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  cursor: pointer;
  filter: grayscale(100%);
  transition: .9s;
  }

#malenia {
  --g: 4px;     /* the gap */
  --b: 12px;    /* border thickness*/
  --c: rgb(198, 92, 22); /* the color */


  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  cursor: pointer;
  filter: grayscale(100%);
  transition: .9s;
  }

#radahn {
  --g: 4px;     /* the gap */
  --b: 12px;    /* border thickness*/
  --c: rgb(235, 4, 4); /* the color */


  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  cursor: pointer;
  filter: grayscale(100%);
  transition: .9s;
  }
/*End of bottom pictures*/
/*End of main*/

#acknoledgment{
  margin-top: 20vmax;
  background-color: black;
  height: 7.5vmax;
  width: 100%;
  color: white;
  font-size: 1.5vmax;
  font-family: "Mantinia" ;
  display: flex; 
	justify-content: center; 
	align-items: center;
}

#ack{
  margin-top: 3vmax;
}