@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

body{
    position: relative;
    background-color: black;
    overflow-x: hidden;
}

header{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#logo{
    width: 60vmax;
} 
#monster{
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 2.5vmax;
    margin-left: 2.5vmax;
    z-index: 0;
    height: 30vmax;
}

#solid{
    z-index: 1;
    position: absolute;
    margin-left: -10vmax;
    margin-top: 55vmax;
    height: 10vmax;
    width: 200vmax;
    background-color: #840484;
    transform: rotate(-45deg);
    transform-origin: left center;;
}

#triangleText1{
    margin-top: 10vmax;
    margin-left: 2.5vmax;
    width: 12.5vmax;
    font-size: 1vmax; width: 0px;
    border-top: 30vmax solid #840484;
    border-right: 30vmax solid black;
    z-index: 2;
}

#tText1{
    position: absolute; /* Add position absolute */
    top: 44vmax;
    left: 3vmax; /* Move the text to the middle vertically */
    color: rgb(123, 194, 209);
}


#triangleText2{
    position: relative;
    float: right;
    margin-top: -20vmax;
    margin-right: 2.5vmax;
    width: 10vmax;
    font-size: 1vmax; width: 0px;
    border-bottom: 30vmax solid #840484;
    border-left: 30vmax solid black;
    z-index: 0;
}
#triangleText3{
    float: right;
    margin-top: 10vmax;
    margin-right: -30vmax;
    width: 10vmax;
    font-size: 1vmax; width: 0px;
    border-top: 30vmax solid #840484;
    border-left: 30vmax solid black;
}

#righthandtext{
    position: relative;
    float: right;
    width: 35vmax;
    height: 20vmax;
    margin-right: 3vmax;
    margin-top: 0vmax;
    z-index: 3;
    text-align: center;
}

#text2{
    color:rgb(123, 194, 209) ;
    z-index: 100;
}

#drifter{
    position: absolute;
    max-width: 35vmax;
    margin-top: 60vmax;     
  
}

#hyper1{
    display: block;
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25vmax;
}

#underLandscape{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

#landscapeText{
    color: rgb(123, 194, 209);
}

#images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vmax;
}

#blue{
    max-width: 16vmax;
    max-height: 9vmax
}


#hyper1{
    --g: 4px;     /* the gap */
    --b: 12px;    /* border thickness*/
    --c: rgb(122, 33, 36); /* the color */
    
    
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
      var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
      var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    filter: grayscale(100%);
    transition: .9s;
  }



  #hyper1:hover {
    --_p: 75%;
    filter: grayscale(0%);
  }

/*Start of menu nonsense*/
#menuToggle{
    position: fixed;
    left: 0;
    top: 0;
    margin-left: 15px;
    z-index:2;
}

#menuToggle input{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    left: -10px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#span1{
    margin-top: 30px;
}

#menuToggle span{
    display: block; /*makes each burger layer its own line*/
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 3px;
    z-index: 1;
    background-color: white;
}



/*Start of Menu Animation*/
#menuToggle span {
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transform-origin: 4px 0px; /* set to 4px 0px to specify the center of rotation for the transform property above. */
}
#menuToggle span:first-child { /*animate each layer seperatly*/
    transform-origin: 0% 0%; /*sets the origin of the transform property to the top left corner of the element.*/
}
#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%; /*sets the origin of the transform property to the bottom left corner of the element.*/
}
#menuToggle input:checked ~ span {/* selects all span elements that come after an input element that is checked inside the #menuToggle element. */
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}
#menuToggle input:checked ~ span:nth-last-child(3) { /* selects the third span element from the end that comes after an input element that is checked inside the #menuToggle element. */
    opacity: 0; /* sets the opacity of the element to 0, making it invisible. */
    transform: rotate(0deg) scale(0.2, 0.2); /* applies a rotation of 0 degrees and a scale of 0.2 to the element, making it very small and invisible.*/
}

#menuToggle input:checked ~ ul {
    top: 0;
    left:0;
}
/*End of Menu Animation*/

#menu {
    position: absolute; /* allow us to position the menu on top of the rest of the content. */
    left: -300px;/* This property moves the menu outisde of the viewport*/
    top: 0px; /*This property sets the distance between the top edge of the menu and the top edge of the #menuToggle div.*/
    width: 200px; 
    height: 200vmax;
    margin: -100px 0 0 -50px;/* The negative margin values are used to move the menu up and to the left to center it vertically and horizontally within the #menuToggle div. */
    padding: 50px;
    padding-top: 125px;
    background: #f2eded;
    opacity: 70%;
    list-style-type: none; /* removes the default bullet points of the list. */
    -webkit-font-smoothing: antialiased; /*This property sets the font smoothing for webkit browsers. */
    
    transition: left 0.5s; /* This property sets the transition effect for the left property. This will create a smooth animation when the menu slides in from the left.*/
}
  
#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menu a:hover{
    text-decoration: underline;
    color: black;
    transform: scale(1.2);
}

#menu a{
    margin: 100px;
}

#menuToggle{
    font-family: 'Press Start 2P';
}


/*End of menu nonsense*/  
